body {
    background-color: #f2e5ae;
}

img {
    position: absolute;
    z-index: -1;
}

section {
    width: 100%;
    height: 768px;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.snow1 {
    background: url("/resources/img/snow.png");
    background-repeat: repeat;
    width: 100%;
    height: 768px;
    position: absolute;
    top: 0;
    left: 0;
    animation: animateOne 10s infinite linear;
    z-index: -1;
    background-size: 300px;
}

.snow2 {
    background: url("/resources/img/snow.png");
    background-repeat: repeat;
    width: 100%;
    height: 768px;
    position: absolute;
    top: 0;
    left: 0;
    animation: animateTwo 10s infinite linear;
    z-index: -1;
    background-size: 600px;
    filter: blur(1px);

}

.snow3 {
    background: url("/resources/img/snow.png");
    background-repeat: repeat;
    width: 100%;
    height: 768px;
    position: absolute;
    top: 0;
    left: 0;
    animation: animateThree 10s infinite linear;
    z-index: -1;
    background-size: 1200px;
    filter: blur(2px);

}

@keyframes animateOne {
    0% {
        background-position: 0px 0px;
    }
    100% {
        background-position: 300px 768px;
    }
}

@keyframes animateTwo {
    0% {
        background-position: 0px -100px;
    }
    100% {
        background-position: 0px 768px;
    }
}

@keyframes animateThree {
    0% {
        background-position: 0px 110px;
    }
    100% {
        background-position: 300px 768px;
    }
}

#a15 {
    position: absolute;
    left: 334px;
    top: 86px;
    z-index: +1;
}

#a9 {
    position: absolute;
    left: 334px;
    top: 166px;
    z-index: +1;
}

#a1 {
    position: absolute;
    left: 334px;
    top: 246px;
    z-index: +1;
}

#a12 {
    position: absolute;
    left: 334px;
    top: 326px;
    z-index: +1;
}

#a4 {
    position: absolute;
    left: 334px;
    top: 406px;
    z-index: +1;
}

#a22 {
    position: absolute;
    left: 334px;
    top: 486px;
    z-index: +1;
}

#a8 {
    position: absolute;
    left: 414px;
    top: 566px;
    z-index: +1;
}

#a14 {
    position: absolute;
    left: 494px;
    top: 566px;
    z-index: +1;
}

#a16 {
    position: absolute;
    left: 574px;
    top: 566px;
    z-index: +1;
}

#a3 {
    position: absolute;
    left: 654px;
    top: 566px;
    z-index: +1;
}

#a7 {
    position: absolute;
    left: 734px;
    top: 566px;
    z-index: +1;
}

#a13 {
    position: absolute;
    left: 814px;
    top: 566px;
    z-index: +1;
}

#a10 {
    position: absolute;
    left: 894px;
    top: 86px;
    z-index: +1;
}

#a17 {
    position: absolute;
    left: 894px;
    top: 166px;
    z-index: +1;
}

#a5 {
    position: absolute;
    left: 894px;
    top: 246px;
    z-index: +1;
}

#a11 {
    position: absolute;
    left: 894px;
    top: 326px;
    z-index: +1;
}

#a21 {
    position: absolute;
    left: 894px;
    top: 406px;
    z-index: +1;
}

#a18 {
    position: absolute;
    left: 894px;
    top: 486px;
    z-index: +1;
}

#a24 {
    position: absolute;
    left: 414px;
    top: 6px;
    z-index: +1;
}

#a6 {
    position: absolute;
    left: 494px;
    top: 6px;
    z-index: +1;
}

#a19 {
    position: absolute;
    left: 574px;
    top: 6px;
    z-index: +1;
}

#a23 {
    position: absolute;
    left: 654px;
    top: 6px;
    z-index: +1;
}

#a2 {
    position: absolute;
    left: 734px;
    top: 6px;
    z-index: +1;
}

#a20 {
    position: absolute;
    left: 814px;
    top: 6px;
    z-index: +1;
}

.linkselection {
    border-style: solid;
    border: 4px;
    border-color: #ff3366;
    width: 400px;
    height: 400px;
    z-index: -1;
}

.advent{
    top:-60px;
}